{% extends "base.html" %}

{% block head %}
<title>Task Master</title>
{% endblock %}


{% block body %}
<h1> Hello World</h1>
<a href="/artists">Go to the Artists Page</a>

<div class="content">

    <h1> Song Master</h1>
    {% if songs|length < 1 %}
    <h4> Nothing in database</h4>
    {% else %}
    <table>
        <tr>
            <th> Song</th>
            <th> Album</th>
            <th>Trivia</th>
            <th>Artist</th>
        </tr>
        {% for song,artist in songs %}
            <tr>
                <td> {{song.song_name }}</td>
                <td>{{ song.album_name}}</td>
                <td>{{ song.trivia}}</td>
                <td>{{artist.artist_name}}</td>

                <td>
                    <a href="/delete/2/{{song.id}}">Delete</a>
                    <br>
                    <a href="/update/2/{{song.id}}">Update</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}
    <h4> Add a song</h4>
    <form action="/" method="POST">
        <p>Song Name:</p>
        <input type="text" name="song_name" id="song_name">
        <br>
        <p>Album Name:</p>
        <input type="text" name="album_name" id="album_name">
        <br>
        <p>Trivia:</p>

        <input type="text" name="trivia" id="trivia">
        <br>
        <p>Artist Name</p>
        <input type="text" name="artist_name" id="artist_name">


        <input type="submit" value="Add Song">
    </form>
</div>
{% endblock %}